<a href="player?fraction={{{series.0.fraction}}}&type=bangers">
                    <div class="form_field field_banger">
                        <button class="input" type="button" class="button button_banger">Бэнгер</button>
                    </div>
</a>