<div class="series_frames" id="frame_slider">
    <div class="series_frame" style="background-image: url(img/series_content/frames/mff/1.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/mff/2.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/mff/3.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/mff/4.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/mff/5.png)"></div>
</div>