<div class="series_frames" id="frame_slider">
    <div class="series_frame" style="background-image: url(img/series_content/frames/{{{fraction_code}}}/1.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/{{{fraction_code}}}/2.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/{{{fraction_code}}}/3.png)"></div>
    <div class="series_frame" style="background-image: url(img/series_content/frames/{{{fraction_code}}}/4.png)"></div>
</div>