<header id="header">
            <div class="header_logotype">
                <a href="/">MEGABATTLE</a>
            </div>
            <nav>
                <ul>
                    <li class="nav_link">
                        <a href="/home">Видео</a>
                    </li>
                    <li class="nav_link">
                        <a href="/stream">Трансляция</a>
                    </li>
                    <li class="nav_link">
                        <a href="/voting">Голосование</a>
                    </li>
                </ul>
            </nav>
            <div class="header_profile">
<!--
                <div class="profile_notification">
                    <img src="img/notification_icon.png">
                    <span class="notification_status"></span>
                </div>
-->
                <div class="profile_user-photo" style="background-image: url({{{avatar}}})">
                    <div class="profile_popup">
<!--
                    <span class="header_fraction">
                        {{{fraction}}}
                    </span>
-->
                    <span class="header_menu_mobile">
                        <a href="/home">Видео</a>
                    </span>
                    <span class="header_menu_mobile">
                        <a href="/stream">Трансляция</a>
                    </span>
                    <span class="header_menu_mobile">
                        <a href="/voting">Голосование</a>
                    </span>
                    <span class="header_loggout">
                        <a href="/loggout">Выйти</a>
                    </span>
                </div>
                </div>
                
            </div>
</header>