<div class="form_field field_like field_like_disabled" style="opacity: 0.3">
                        <button class="input" type="button" class="button button_like"  disabled><img src="img/like.png"></button>
</div>