<a href="player?fraction={{{series.0.fraction}}}&type=series">
                        <div class="form_field field_watch">
                        <button class="input" type="button" class="button button_watch">Смотреть</button>
                    </div>
</a>
