<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Megabattle Platform 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
</head>
<body>


<div class="page_container" id="root" style="background: url(img/backgrounds/{{{bg}}}.png) center no-repeat;">
    <div class="page_wrapper wrapper_background" id="page_wrapper"> 
         <div class="galery_wrapper">
             <div class="galery_container">
               {{{body}}}     
         </div>
         </div>
    </div>
</div>
</body>
</html>