<!DOCTYPE html>
<html lang="en">
<head>
    <title>Megabattle Platform 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="Megabattle Platform">
    <meta property="og:image" content="mbtl.ru/img/splash.png">
    <meta property="og:description" content="ИТМО Мегабаттл. Платформа для проведения мероприятий.">
    <meta property="og:url" content="mbtl.ru">
    <meta name="description" content="Онлайн площадка для проведения весеннего сезона Мегабаттла"> 
    <meta name="keywords" content="Megabattle, Мегабаттл, ИТМО"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
</head>
<body>


<div class="page_container" id="root" style="background: url(img/backgrounds/{{{bg}}}.png) center no-repeat;">
    <div class="page_wrapper wrapper_background" id="page_wrapper"> 
         <div class="galery_wrapper">
             <div class="galery_container">
               {{{body}}}     
         </div>
         </div>
    </div>
</div>
</body>
</html>