<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Megabattle Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
</head>
<body>
<div class="page_container" id="root">
    <div class="page_wrapper wrapper_background">
       {{{body}}}
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/client.js"></script>
<script src="js/render.js"></script>
</body>
</html>