<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Megabattle Platform</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>


<div class="page_container" id="root">
    <div class="page_wrapper wrapper_background"> 
         <div class="galery_wrapper">
             <div class="galery_container">
               {{{body}}}     
         </div>
         </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/client.js"></script>
<script src="js/render.js"></script>
</body>
</html>