<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Megabattle Platform</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>

<div class="page_container" id="root">
    <div class="page_wrapper wrapper_background">
      {{> header}}
       {{{body}}}
    </div>
</div>
<script src="js/react.min.js"></script>
<script src="js/client.js"></script>
</body>
</html>