<div class="alert_wrapper">
    <div class="alert">
       <div class="alert_name">
           <img src="img/alert_icon.png"> Ошибка
       </div>
        <div class="alert_body">
            {{{message}}}
        </div>
        <div class="alert_action">
           <a href="{{{action}}}">
            <div class="alert_btn">
                    <button>Обратно</button>
            </div>
            </a>
        </div>
    </div>
</div>
