<div class="otherSeries" id="galery">
            <div class="seriesControl" id="seriesControl">
                <div class="controlType">
                    Смотрите далее <img src="img/watch_icon.png">
                </div>
                <div class="controlOptions">
                    <div class="controlOption optionInactive">
                        Эпизоды
                    </div>
                    <div class="controlOption optionActive">
                        Бэнгеры
                    </div>
                </div>
            </div>
            <div class="seriesSlider" id="seriesSlider">
                    <div class="seriesFrame">
                        <div class="seriesWallpaper"></div>
                    </div>
                    <div class="seriesFrame">
                        <div class="seriesWallpaper"></div>
                    </div>
                    <div class="seriesFrame">
                        <div class="seriesWallpaper"></div>
                    </div>
                    <div class="seriesFrame">
                        <div class="seriesWallpaper"></div>
                    </div>
                </div>
        </div>