<div class="intro">
    <div class="logo">
        <img src="img/itmo_megabattle_logo.png">
    </div>
    <div class="intro_name">
        Добро пожаловать, {{{name}}}!
    </div>
    <div class="intro_text">
        Вы можете посетить личные страницы каждого факультета и посмотреть их бэнгеры и эпизоды.
    </div>
    <div class="intro_actions">
        <div class="intro_buttons">
            <button class="input" type="button"><a href="/home?series=mff">МФФ</a></button>
            <button class="input" type="button"><a href="/home?series=ftmi">ФТМиИ</a></button>
            <button class="input" type="button"><a href="/home?series=ktu">КТиУ</a></button>
            <button class="input" type="button"><a href="/home?series=btins">БТИНС</a></button>
        </div>
    </div>
    <div class="intro_text">
        Также вам доступны трансляция и голосование
    </div>
    <div class="intro_actions">
        <div class="intro_buttons">
            <button class="input" type="button"><a href="/stream">Трансляция</a></button>
            <button class="input" type="button"><a href="/voting">Голосование</a></button>
        </div>
    </div>
