<div class="auth_wrapper">
           <form action="/login" method="post">
               <div class="auth_logo">
                <img src="img/itmo_megabattle_logo.png" alt="ИТМО Мегабаттл логотип">
            </div>
            <div class="auth_form">
                <div class="form_name">
                    Добро пожаловать в Платформу Мегабаттла!
                </div>
                <div class="form_fields">
                    <div class="form_field field_submit">
                        <button class="input" type="submit" class="button button_auth">ВК Авторизация</button>
                    </div>
                    <div class="form_field field_options">
                            <a href="/register">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
           </form>
        </div>