<div class="player_wrapper">
    <div class="streamStatus" id="{{{link}}}">
               {{{text}}} 
           </div>
           <div id="player">
               
           </div>
           <div class="player_action">
               <button class="btn_back_from_player"><a href="/home?series={{{fraction}}}">Обратно</a></button>
           </div>
           
</div>