<div class="auth_wrapper">
            <div class="auth_logo">
                <img src="img/itmo_megabattle_logo.png" alt="ИТМО Мегабаттл логотип">
            </div>
            <div class="auth_form">
                <div class="form_name">
                    Зарегистрироваться
                </div>
                <div class="form_fields">
                   <div class="form_field field_name">
                        <input class="input" type="text" placeholder="Введите имя">
                    </div>
                    <div class="form_field field_email">
                        <input class="input" type="email" placeholder="Введите почту">
                    </div>
                    <div class="form_field field_password">
                        <input class="input" type="password" placeholder="Введите пароль">
                    </div>
                    <div class="form_field field_submit">
                        <button class="input" type="button" class="button button_auth">Войти</button>
                    </div>
                    <div class="form_field field_options">
                        <div class="auth_option-vk">
                            <a href="#">Авторизация через ВК</a>
                        </div>
                    </div>
                </div>
            </div>
</div>