<div class="series_container" id="content">
            <div class="series_mainContent">
                 <div class="videoPoster"></div>
                 <div class="videoContent">
                     <div class="videoName">
                     <h2>Разборки в Маниле</h2><div class="videoOwner">МФФ</div>
                 </div>
                 <div class="videoParameters">
                     2020. Комедия. 14 мин
                 </div>
                 <div class="videoPlot">
                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                 </div>
                 <div class="videoAction">
                     <div class="form_field field_watch">
                        <button class="input" type="button" class="button button_watch">Смотреть</button>
                    </div>
                    <div class="form_field field_like">
                        <button class="input" type="button" class="button button_like"><img src="img/like.png"></button>
                    </div>
                 </div>
                 </div>
                 
                 
            </div>
            <div class="series_additionalContent">
                
            </div>
        </div>