<div class="stream_container">
           <div class="streamStatus">
               Трансляция завершена
           </div>
            <div class="streamFrame">
              
                <iframe src="https://www.youtube.com/embed/AFNLCFRorSs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
</div>