<div class="player_wrapper">
    <div class="streamStatus" id="{{{link}}}">
               {{{text}}}
           </div>
           <div class="streamFrame" id="player">
               
           </div>
</div>