<div class="auth_wrapper">
            <div class="auth_form voting_form">
                <div class="form_name">
                    Проголосовать за бэнгеры
                </div>
                <div class="form_fields">
                  {{#each voting}}
                   <div class="form_field field_vote">
                        <div class="vote">
                            <div class="voteSubject">
                                {{{fraction_name}}}
                            </div>
                            <div class="voteScore">
                                <div class="voteMark">
                                   <img src="img/start.png"> 
                                </div>
                                <div class="voteMark">
                                   <img src="img/start.png"> 
                                </div>
                                <div class="voteMark">
                                   <img src="img/start.png"> 
                                </div>
                                <div class="voteMark">
                                   <img src="img/start.png"> 
                                </div>
                                <div class="voteMark">
                                   <img src="img/start.png"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="form_field field_submit">
                        <button class="input" type="button" class="button button_vote">Проголосовать</button>
                    </div>
                    <div class="form_field field_options">
                        <div class="auth_option-formReminder">
                           Форму можно отправить только один раз
                        </div>
                    </div>
                </div>
            </div>
        </div>