<div class="auth_wrapper voting_wrapper">
            <div class="auth_form voting_form">
                <div class="form_name">
                    Проголосовать за бэнгеры <!--Проголосовать за эпизоды-->
                </div>
                <div class="form_fields">
                  {{#each voting}}
                   <div class="form_field field_vote">
                        <div class="vote">
                            <div class="voteSubject">
                                {{{fraction_name}}}
                            </div>
                            <div class="voteScore" id="voting_{{{fraction}}}">
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="form_field field_submit btn_vote">
                        <button class="input" type="button" class="button button_vote">Проголосовать</button>
                    </div>
                    <div class="form_field field_options">
                        <div class="auth_option-formReminder">
                            Напоминаем, что <b>нельзя</b> выставлять одинаковые оценки разных факультетам<br><br>
                           Форму можно отправить только <b>один раз</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>